<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
    <h1>Database</h1>
  </div>

  <p>Here is what you have typed in the Home page.</p>

  <div id="post-listing"></div>

  <button onClick="resetDatabase()">Reset Data</button>
</body>

</html>