<u1 class="nav nav nav-tabs nav-justified">
    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link active" href="/database">Database</a></li>
    <li class="nav-item"><a class="nav-link active" href="/project">Project</a></li>
</u1>